# Logistic Regression:

In [1]:
import numpy as np
import pandas as pd
import joblib
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

### Reading the data:

In [3]:
df=pd.read_csv('insurance_data.csv')
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

### Splitting training and testing data:

In [4]:
x_train,x_test,y_train,y_test=train_test_split(df[['age']],df['bought_insurance'],test_size=0.1,random_state=10)

In [5]:
x_train

    age
21   26
11   28
1    25
2    47
12   27
24   50
14   49
13   29
20   21
3    52
25   54
6    55
19   18
10   18
23   45
26   23
8    62
22   40
16   25
17   58
0    22
15   55
4    46
9    61

In [6]:
x_test

    age
7    60
5    56
18   19

In [7]:
y_train

21    0
11    0
1     0
2     1
12    0
24    1
14    1
13    0
20    0
3     0
25    1
6     0
19    0
10    0
23    1
26    0
8     1
22    1
16    1
17    1
0     0
15    1
4     1
9     1
Name: bought_insurance, dtype: int64

In [8]:
y_test

7     1
5     1
18    0
Name: bought_insurance, dtype: int64

### Training ML model using training data:

In [9]:
model=LogisticRegression()

In [10]:
model.fit(x_train,y_train)

LogisticRegression()

### Predicting data:

In [11]:
model.predict(x_test)

array([1, 1, 0], dtype=int64)

### Predicting probability of the data:

In [12]:
model.predict_proba(x_test)

array([[0.06470723, 0.93529277],
       [0.10327405, 0.89672595],
       [0.92775095, 0.07224905]])

### Calculating accuracy:

In [13]:
model.score(x_test,y_test)

1.0