# Introduction to Pandas

In [1]:
import numpy as np
import pandas as pd

## Creating a Series datatype using lists:

In [2]:
names=['Maliha','Zubair','Akash','Krithika']
dob=[31071999,10062000,23122000,15072001]
details=pd.Series(data=dob,index=names)
details

Maliha      31071999
Zubair      10062000
Akash       23122000
Krithika    15072001
dtype: int64

In [3]:
details[2]

23122000

In [4]:
details['Zubair']

10062000

## Creating a Series datatype using dictionary:

In [5]:
capitals={'Peru':'Lima','Iceland':'Reykjavik','Fiji':'Suva','Morocco':'Rabat','Cuba':'Havana','Azerbaijan':'Baku'}
capitals=pd.Series(capitals)
capitals

Peru               Lima
Iceland       Reykjavik
Fiji               Suva
Morocco           Rabat
Cuba             Havana
Azerbaijan         Baku
dtype: object

In [6]:
capitals['Azerbaijan']

'Baku'

In [7]:
capitals[2]

'Suva'

## Matching up Series objects based on indices:

In [9]:
s1={'Japan':80,'China':450,'India':200,'USA':250}
s2={'Brazil':100,'China':900,'India':320,'USA':420}
s1=pd.Series(s1)
s2=pd.Series(s2)

In [10]:
s1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [11]:
s2

Brazil    100
China     900
India     320
USA       420
dtype: int64

In [12]:
x1=s1+s2
x1

Brazil       NaN
China     1350.0
India      520.0
Japan        NaN
USA        670.0
dtype: float64

In [13]:
x2=s1.add(s2,fill_value=0)
x2

Brazil     100.0
China     1350.0
India      520.0
Japan       80.0
USA        670.0
dtype: float64

## Operations on Series objects:

In [14]:
s1=s1*2
s1

Japan    160
China    900
India    400
USA      500
dtype: int64

In [15]:
s2=s2/2
s2

Brazil     50.0
China     450.0
India     160.0
USA       210.0
dtype: float64

## Finding the labelled indices of a Series object:

In [16]:
z=x2.keys()
z

Index(['Brazil', 'China', 'India', 'Japan', 'USA'], dtype='object')

In [18]:
type(z)

pandas.core.indexes.base.Index

In [20]:
for x in z:
    print(x)

Brazil
China
India
Japan
USA