# Text methods for string data:

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame(data=[['Shivani',80,'Distinction'],['Vijitha',75,'First Class'],['Cheems',-4,"Failed and Detained"],["Sushant",28,"Fail"]],columns=["name","score","Status"],index=[101,102,103,104])
df

        name  score               Status
101  Shivani     80          Distinction
102  Vijitha     75          First Class
103   Cheems     -4  Failed and Detained
104  Sushant     28                 Fail

In [3]:
ser=pd.Series({101:"Bai",102:"Cheems",103:"Doge",104:"Kylo",105:"8999.7867",106:786,107:"90"})
ser

101          Bai
102       Cheems
103         Doge
104         Kylo
105    8999.7867
106          786
107           90
dtype: object

In [4]:
ser.str.upper()

101          BAI
102       CHEEMS
103         DOGE
104         KYLO
105    8999.7867
106          NaN
107           90
dtype: object

In [5]:
ser.str.isdigit()

101    False
102    False
103    False
104    False
105    False
106      NaN
107     True
dtype: object