# Text methods for string data:

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame(data=[['Rubina',80,'Distinction'],['Wajid',75,'First Class'],['Babar',-4,"Failed and Detained"],["Rahim",28,"Fail"]],columns=["name","score","Status"],index=[101,102,103,104])
df

       name  score               Status
101  Rubina     80          Distinction
102   Wajid     75          First Class
103   Babar     -4  Failed and Detained
104   Rahim     28                 Fail

In [3]:
ser=pd.Series({101:"Beacon",102:"Cheems",103:"Doge",104:"Kylo",105:"8999.7867",106:786,107:"90"})
ser

101       Beacon
102       Cheems
103         Doge
104         Kylo
105    8999.7867
106          786
107           90
dtype: object

In [4]:
ser.str.upper()

101       BEACON
102       CHEEMS
103         DOGE
104         KYLO
105    8999.7867
106          NaN
107           90
dtype: object

In [5]:
ser.str.isdigit()

101    False
102    False
103    False
104    False
105    False
106      NaN
107     True
dtype: object

In [6]:
tech_fin=['GOOG,APPL,AMZN','JPC,BAC,GS']
tickers=pd.Series(tech_fin)

In [7]:
tickers

0    GOOG,APPL,AMZN
1        JPC,BAC,GS
dtype: object

### Cleaning the Series data using text methods:

In [8]:
tickers=tickers.str.split(',')
tickers

0    [GOOG, APPL, AMZN]
1        [JPC, BAC, GS]
dtype: object

In [9]:
tickers[0]

['GOOG', 'APPL', 'AMZN']

In [10]:
tickers.str[0]

0    GOOG
1     JPC
dtype: object

In [13]:
tickers=pd.Series(tech_fin).str.split(',',expand=True)
tickers

      0     1     2
0  GOOG  APPL  AMZN
1   JPC   BAC    GS

### Cleaning the messy data:

In [14]:
messy_names=pd.Series([' and rew',' bo;b','charlie','   david   '])
messy_names

0        and rew
1           bo;b
2        charlie
3       david
dtype: object

In [15]:
messy_names=messy_names.str.strip()
messy_names

0    and rew
1       bo;b
2    charlie
3      david
dtype: object

In [17]:
messy_names=messy_names.str.replace(' ','')
messy_names

0     andrew
1       bo;b
2    charlie
3      david
dtype: object

In [18]:
messy_names=messy_names.str.replace(';','')
messy_names

0     andrew
1        bob
2    charlie
3      david
dtype: object

In [19]:
messy_names=messy_names.str.capitalize()
messy_names

0     Andrew
1        Bob
2    Charlie
3      David
dtype: object