# Introduction to Pandas

In [2]:
import numpy as np
import pandas as pd

## Creating a Series datatype using lists:

In [3]:
names=['Maliha','Zubair','Akash','Krithika']
dob=[31071999,10062000,23122000,15072001]
details=pd.Series(data=dob,index=names)
details

Maliha      31071999
Zubair      10062000
Akash       23122000
Krithika    15072001
dtype: int64

In [4]:
details[2]

23122000

In [5]:
details['Zubair']

10062000

## Creating a Series datatype using dictionary:

In [6]:
capitals={'Peru':'Lima','Iceland':'Reykjavik','Fiji':'Suva','Morocco':'Rabat','Cuba':'Havana','Azerbaijan':'Baku'}
capitals=pd.Series(capitals)
capitals

Peru               Lima
Iceland       Reykjavik
Fiji               Suva
Morocco           Rabat
Cuba             Havana
Azerbaijan         Baku
dtype: object

In [7]:
capitals['Azerbaijan']

'Baku'

In [8]:
capitals[2]

'Suva'