# Introduction to DataFrames:

In [1]:
import numpy as np
import pandas as pd

## Creating a DataFrame:

In [2]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [3]:
myindex=['CA','NY','AZ','TX']
mycolumns=['Jan','Feb','Mar']

## DataFrame with only data:

In [4]:
df=pd.DataFrame(mydata)
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

## DataFrame with data and custom indices:

In [6]:
df=pd.DataFrame(data=mydata,index=myindex)
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

## DataFrame with data, custom indices, and column names:

In [7]:
df=pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63